/************
Layouts */

body {
  font-family: "Trebuchet", Arial, Helvetica, sans-serif;
  background: #01415a;
}

#container {
  width: 100%; /*720px*/
  margin: 0 auto;
  background: #fff url(imagens/coluna.png) repeat-y left top;
  min-width: 720px;
  max-width: 1480px;
}

/***** Marca *****/
#marca {
  height: 200px;
  overflow: hidden;
  background: #9e9e9e;
  text-align: center;
  line-height: 200px;
  background: rgb(17, 17, 65);
  color: white;
}

.posicao {
  display: flex;
  align-items: center;
}

/******** Conteúdo ********/
#conteudo {
  width: 75%; /*520px*/
  float: right;
}

#conteudo-principal {
  width: 63%;
  float: left;
}

img.img-noticia {
  width: 94%;
  padding: 2%;
  max-width: 600px;
}

/*
#imagem {
  width: 90%;
  overflow: hidden;
}*/

#conteudo-secundario {
  width: 34%;
  float: right;
  background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
  padding-left: 20px;
  padding-right: 20px;
}

/***** Barra de Navegação *****/
#navegacao {
  display: flex;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navegacao a {
  margin: 0;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  background: rgb(160, 160, 160);
  color: black;
}

#navegacao a:hover {
  background: rgb(17, 17, 65);
  color: white;
}

/******* Rodapé *******/
#rodape {
  clear: both;
  color: white;
  background: rgb(17, 17, 65);
  padding: 5px;
}
