/************
Layouts */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet", Arial, Helvetica, sans-serif;
  background: #01415a;
}

/***** Aréa Logo *****/
#container {
  width: 90%;
  margin: 0 auto;
  background: rgb(17, 17, 65);
}

#logo {
  height: 200px;
  overflow: hidden;
  text-align: center;
  line-height: 200px;
  background: rgb(17, 17, 65);
}

/******* Menu ******/
#menu {
  background: rgb(17, 17, 65);
  text-align: center;
  padding: 20px;
}

#menu a {
  padding: 20px;
  background: rgb(17, 17, 65);
  color: aqua;
  text-decoration: none;
}

#menu a:hover {
  background: #01415a;
}

/****** Conteudo *****/
#conteudo {
  width: 85%;
  float: right;
  background: #bbe1f0;
  padding: 15px;
}

#games {
  display: flex;
  align-items: center;
  padding: 30px;
}

.imagens-games {
  padding: 25px;
}

#lateral {
  width: 13.2%;
  float: left;
}

#lateral ul {
  list-style-type: none;
  background: aqua;
  padding: 1px;
}

#lateral li a {
  display: block;
  text-decoration: none;
  color: aqua;
  margin: 2px;
  padding: 10px;
  background: rgb(17, 17, 65);
}

#lateral a:hover {
  background: #01415a;
}

/******** Rodape *********/
#rodape {
  clear: both;
  color: white;
  background: rgb(17, 17, 65);
  padding: 5px;
  text-align: center;
}
