/************
Layouts */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet", Arial, Helvetica, sans-serif;
  background: #01415a;
}

/***** Aréa Logo *****/
#container {
  width: 90%;
  margin: 0 auto;
  background: #ffffff;
}

#logo {
  height: 200px;
  overflow: hidden;
  text-align: center;
  line-height: 200px;
  background: rgb(17, 17, 65);
}

/******* Menu ******/
#menu {
  background: rgb(17, 17, 65);
  text-align: center;
  padding: 20px;
}

#menu a {
  padding: 20px;
  background: rgb(17, 17, 65);
  color: #ffffff;
  text-decoration: none;
}

#menu a:hover {
  background: #01415a;
  color: white;
}

/****** Conteudo *****/
#conteudo {
  width: 85%;
  float: right;
  background: #8bb2c2;
}

#games {
  display: flex;
  align-items: center;
  padding: 30px;
}

.imagens-games {
  padding: 25px;
}

/******** Rodape *********/
#rodape {
  clear: both;
  color: white;
  background: rgb(17, 17, 65);
  padding: 5px;
  text-align: center;
}
